<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>averagemale02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,294}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{497,294}}</string>
                <key>sourceSize</key>
                <string>{503,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>averagemale.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe29c1fa2d0fe5d772d5267a686d552e:1/1$</string>
            <key>textureFileName</key>
            <string>averagemale.png</string>
        </dict>
    </dict>
</plist>
