<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_soldier_lance_1.gif</key>
		<dict>
			<key>frame</key>
			<string>{{27,60},{15,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,23}}</string>
			<key>sourceSize</key>
			<string>{15,23}</string>
		</dict>
		<key>enemy_soldier_lance_10.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,24},{15,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{15,27}}</string>
			<key>sourceSize</key>
			<string>{19,29}</string>
		</dict>
		<key>enemy_soldier_lance_11.gif</key>
		<dict>
			<key>frame</key>
			<string>{{57,48},{23,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{23,17}}</string>
			<key>sourceSize</key>
			<string>{25,19}</string>
		</dict>
		<key>enemy_soldier_lance_12.gif</key>
		<dict>
			<key>frame</key>
			<string>{{106,84},{17,19}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{17,19}}</string>
			<key>sourceSize</key>
			<string>{19,21}</string>
		</dict>
		<key>enemy_soldier_lance_13.gif</key>
		<dict>
			<key>frame</key>
			<string>{{37,2},{33,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,5}}</string>
			<key>sourceSize</key>
			<string>{33,5}</string>
		</dict>
		<key>enemy_soldier_lance_14.gif</key>
		<dict>
			<key>frame</key>
			<string>{{37,14},{31,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{31,3}}</string>
			<key>sourceSize</key>
			<string>{33,5}</string>
		</dict>
		<key>enemy_soldier_lance_15.gif</key>
		<dict>
			<key>frame</key>
			<string>{{37,9},{31,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{31,3}}</string>
			<key>sourceSize</key>
			<string>{33,5}</string>
		</dict>
		<key>enemy_soldier_lance_16.gif</key>
		<dict>
			<key>frame</key>
			<string>{{105,2},{21,21}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{21,21}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>enemy_soldier_lance_17.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,57},{23,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{23,20}}</string>
			<key>sourceSize</key>
			<string>{23,24}</string>
		</dict>
		<key>enemy_soldier_lance_18.gif</key>
		<dict>
			<key>frame</key>
			<string>{{31,38},{24,20}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{24,20}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>enemy_soldier_lance_19.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{33,20}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,20}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>enemy_soldier_lance_2.gif</key>
		<dict>
			<key>frame</key>
			<string>{{82,64},{22,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{22,19}}</string>
			<key>sourceSize</key>
			<string>{24,19}</string>
		</dict>
		<key>enemy_soldier_lance_20.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,41},{14,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{14,24}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>enemy_soldier_lance_21.gif</key>
		<dict>
			<key>frame</key>
			<string>{{21,79},{17,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{17,18}}</string>
			<key>sourceSize</key>
			<string>{19,20}</string>
		</dict>
		<key>enemy_soldier_lance_22.gif</key>
		<dict>
			<key>frame</key>
			<string>{{69,23},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{23,25}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>enemy_soldier_lance_23.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,79},{22,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{22,17}}</string>
			<key>sourceSize</key>
			<string>{22,19}</string>
		</dict>
		<key>enemy_soldier_lance_3.gif</key>
		<dict>
			<key>frame</key>
			<string>{{21,103},{21,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{21,17}}</string>
			<key>sourceSize</key>
			<string>{21,19}</string>
		</dict>
		<key>enemy_soldier_lance_4.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,103},{22,17}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{22,17}}</string>
			<key>sourceSize</key>
			<string>{26,19}</string>
		</dict>
		<key>enemy_soldier_lance_5.gif</key>
		<dict>
			<key>frame</key>
			<string>{{37,19},{30,17}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{30,17}}</string>
			<key>sourceSize</key>
			<string>{32,19}</string>
		</dict>
		<key>enemy_soldier_lance_6.gif</key>
		<dict>
			<key>frame</key>
			<string>{{72,2},{31,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{31,19}}</string>
			<key>sourceSize</key>
			<string>{31,21}</string>
		</dict>
		<key>enemy_soldier_lance_7.gif</key>
		<dict>
			<key>frame</key>
			<string>{{106,64},{18,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{18,20}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>enemy_soldier_lance_8.gif</key>
		<dict>
			<key>frame</key>
			<string>{{96,25},{25,18}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{25,18}}</string>
			<key>sourceSize</key>
			<string>{27,22}</string>
		</dict>
		<key>enemy_soldier_lance_9.gif</key>
		<dict>
			<key>frame</key>
			<string>{{96,45},{25,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{25,17}}</string>
			<key>sourceSize</key>
			<string>{27,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldier.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dc6a3d6cd4e42968fa854aa3791218a6:1/1$</string>
		<key>textureFileName</key>
		<string>soldier.png</string>
	</dict>
</dict>
</plist>
