<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_soldier_lance_1.gif</key>
		<dict>
			<key>frame</key>
			<string>{{151,50},{26,46}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{26,46}}</string>
			<key>sourceSize</key>
			<string>{30,46}</string>
		</dict>
		<key>enemy_soldier_lance_10.gif</key>
		<dict>
			<key>frame</key>
			<string>{{129,18},{30,51}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{30,51}}</string>
			<key>sourceSize</key>
			<string>{38,57}</string>
		</dict>
		<key>enemy_soldier_lance_11.gif</key>
		<dict>
			<key>frame</key>
			<string>{{51,84},{44,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{44,34}}</string>
			<key>sourceSize</key>
			<string>{50,38}</string>
		</dict>
		<key>enemy_soldier_lance_12.gif</key>
		<dict>
			<key>frame</key>
			<string>{{45,159},{34,37}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{34,37}}</string>
			<key>sourceSize</key>
			<string>{38,41}</string>
		</dict>
		<key>enemy_soldier_lance_13.gif</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{61,7}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{61,7}}</string>
			<key>sourceSize</key>
			<string>{65,9}</string>
		</dict>
		<key>enemy_soldier_lance_14.gif</key>
		<dict>
			<key>frame</key>
			<string>{{131,10},{61,6}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{61,6}}</string>
			<key>sourceSize</key>
			<string>{65,10}</string>
		</dict>
		<key>enemy_soldier_lance_15.gif</key>
		<dict>
			<key>frame</key>
			<string>{{131,2},{61,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{61,6}}</string>
			<key>sourceSize</key>
			<string>{65,10}</string>
		</dict>
		<key>enemy_soldier_lance_16.gif</key>
		<dict>
			<key>frame</key>
			<string>{{97,89},{41,42}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{41,42}}</string>
			<key>sourceSize</key>
			<string>{45,50}</string>
		</dict>
		<key>enemy_soldier_lance_17.gif</key>
		<dict>
			<key>frame</key>
			<string>{{47,120},{41,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{41,37}}</string>
			<key>sourceSize</key>
			<string>{45,47}</string>
		</dict>
		<key>enemy_soldier_lance_18.gif</key>
		<dict>
			<key>frame</key>
			<string>{{103,50},{46,37}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{46,37}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>enemy_soldier_lance_19.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{64,38}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{64,38}}</string>
			<key>sourceSize</key>
			<string>{70,44}</string>
		</dict>
		<key>enemy_soldier_lance_2.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,143},{41,34}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{41,34}}</string>
			<key>sourceSize</key>
			<string>{47,38}</string>
		</dict>
		<key>enemy_soldier_lance_20.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,78},{27,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{27,47}}</string>
			<key>sourceSize</key>
			<string>{35,47}</string>
		</dict>
		<key>enemy_soldier_lance_21.gif</key>
		<dict>
			<key>frame</key>
			<string>{{221,84},{33,33}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{33,33}}</string>
			<key>sourceSize</key>
			<string>{37,39}</string>
		</dict>
		<key>enemy_soldier_lance_22.gif</key>
		<dict>
			<key>frame</key>
			<string>{{182,38},{44,49}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{44,49}}</string>
			<key>sourceSize</key>
			<string>{50,53}</string>
		</dict>
		<key>enemy_soldier_lance_23.gif</key>
		<dict>
			<key>frame</key>
			<string>{{90,132},{39,34}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{39,34}}</string>
			<key>sourceSize</key>
			<string>{43,38}</string>
		</dict>
		<key>enemy_soldier_lance_3.gif</key>
		<dict>
			<key>frame</key>
			<string>{{179,84},{40,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{40,34}}</string>
			<key>sourceSize</key>
			<string>{42,38}</string>
		</dict>
		<key>enemy_soldier_lance_4.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,107},{43,34}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{43,34}}</string>
			<key>sourceSize</key>
			<string>{51,38}</string>
		</dict>
		<key>enemy_soldier_lance_5.gif</key>
		<dict>
			<key>frame</key>
			<string>{{194,2},{59,34}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{59,34}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>enemy_soldier_lance_6.gif</key>
		<dict>
			<key>frame</key>
			<string>{{68,11},{59,33}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{59,33}}</string>
			<key>sourceSize</key>
			<string>{61,41}</string>
		</dict>
		<key>enemy_soldier_lance_7.gif</key>
		<dict>
			<key>frame</key>
			<string>{{141,98},{36,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,44}</string>
		</dict>
		<key>enemy_soldier_lance_8.gif</key>
		<dict>
			<key>frame</key>
			<string>{{54,46},{47,36}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{47,36}}</string>
			<key>sourceSize</key>
			<string>{53,44}</string>
		</dict>
		<key>enemy_soldier_lance_9.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,42},{50,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{50,34}}</string>
			<key>sourceSize</key>
			<string>{54,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>soldier-hd.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:47e72ca1b2f3a6586ca53be1547ebc9e:1/1$</string>
		<key>textureFileName</key>
		<string>soldier-hd.png</string>
	</dict>
</dict>
</plist>
